body
{
    padding: 0;
    margin: 0;
    background-color: pink;
}

.general_container
{
    display: flex;
    width: 500px;
    height: 500px;
    background-color: gray;
    position: absolute;
    border-radius: 50px;
    /* The three lines below here, will center the general container for every project you need to do. Use this/Understand how to do it. I got this from CHATGPT. */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* End CHATGPT generated code. */
}

.first_row_container
{
    display: flex;
    position: absolute;
    background-color: gray;
    width: 425px;
    height: 81.25px;
    margin-left: 32.5px;
    margin-top: 35px;
    justify-content: flex-end;
    gap: 3px;
}

.output_box
{
    flex-grow: 1;
    text-align: right;
    color: rgb(25, 25, 255);
}

.first_row_container div
{
    display: flex;
    width: 106.25px;
    height: 81.25px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}

.clear_button:hover
{
    transition: 0.5s;
    background-color: rgb(161, 161, 161);
    cursor: pointer;
}

.options_container
{
    display: flex;
    flex-wrap: wrap;
    width: 425px;
    height: 325px;
    position: absolute;
    background-color: orange;
    margin-top: 135px;
    margin-left: 32.5px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.options_container div
{
    display: flex;
    width: 106.25px;
    height: 81.25px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.options_container div:hover
{
    background-color:rgb(184, 120, 1);
    transition: 0.5s;
    cursor: pointer;
}